@import "../../styles/base/variable";
#notify-wrapper {
  position: fixed;
  min-width: 400px;
  bottom: 20px;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  .notify-container {
    position: relative;
    border-radius: 4px;
    -webkit-animation: ease-in alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    background: #fff;
    overflow: hidden;
    margin-bottom: 10px;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      font-size: 14px;
      i {
        cursor: pointer;
      }
    }
    .notify-message {
      display: flex;
      padding: 10px;
      font-size: 14px;
    }
    &.rounded {
      border-radius: $circle-radius-size !important;
      text-align: center !important;
      span {
        justify-content: center;
      }
    }
    .notify-progress {
      width: 100%;
      height: 4px;
      background: hsla(0, 0%, 0%, 0.2);
      position: absolute;
      right: 0;
      bottom: 0;
  }
  }
  @-webkit-keyframes run {
    0% {
      top: -200px;
    }
    50% {
      top: -100px;
    }
    100% {
      top: 10px;
    }
  }
}
