@import "../../styles//base/variable";

.icon-badge-container {
  width: $base-size;
  height: $base-size;
  background: $gray-color;
  @include border-radius($radius-size);
  color: $grey-color-dark;
}
