@import "../../styles//base/variable";

.icon-badge-container {
  width: $base-size;
  height: $base-size;
  background: $gray-color;
  color: $grey-color-dark;
  @include border-radius($radius-size);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: default;
  }
}
