@import "../../styles/base/variable";

.card-container {
  /* common styles */
  img {
    width: 100%;
    display: flex;
  }
  p {
    margin: $md-size;
    text-align: right;
    font-size: $font-size;
  }
  /* common styles end */
  position: relative;
  @include border-radius($md-size);
  box-shadow: 0 $md-size $lg-size rgba(0, 0, 0, 0.1),
    0 $sm-size + 1 $sm-size + 1 rgba(0, 0, 0, 0.15);
  .card-header {
    display: flex;
    background-color: $gray-color-lite;
    color: $primary-color;
    padding: $sm-size;
    @include border-radius-corners($md-size, $md-size, 0, 0);
    flex-direction: row;
    .header-right {
      display: flex;
      flex-direction: row;
      p {
        font-size: $font-size;
        margin: auto $md-size;
      }
    }
  }
  .card-footer {
    @include border-radius-corners(0, 0, $md-size, $md-size);
    background-color: $gray-color-lite;
    padding: $sm-size;
    display: flex;
    flex-direction: row;
  }
}
