@import "../../styles/base/variable";

.card-container {
  position: relative;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.15);
  .card-header {
    display: flex;
    background-color: $primary-color;
    color: $white-color;
    padding: $sm-size;
    border-top-left-radius: $radius-size - 70;
    border-top-right-radius: $radius-size - 70;
    flex-direction: row-reverse;
    .header-right {
      i {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: $sm-size + 15;
        top: $sm-size + 3;
        font-size: $font-size;
        &:hover {
          cursor: default;
        }
      }
      p {
        font-size: $font-size;
        margin: 0 40px;
      }
    }
  }
  .card-footer {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: $gray-color;
    display: flex;
    flex-direction: row-reverse;
    padding: $sm-size;
  }
}
