@import "../../styles/base/variable";

.card-container {
  position: relative;
  border: 1px solid;
  border-color: $gray-color;
  @include border-radius($radius-size);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
  .card-header {
    display: flex;
    background-color: #00bcd4;
    color: $white-color;
    padding: $sm-size;
    border-top-left-radius: $radius-size - 70;
    border-top-right-radius: $radius-size - 70;
    flex-direction: row-reverse;
    .header-right {
      i {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: $sm-size + 15;
        top: $sm-size + 3;
        font-size: $font-size;
        &:hover {
          cursor: default;
        }
      }
      p {
        font-size: $font-size;
        margin: 0 40px;
      }
    }
  }
}
