@import "../../styles/base/variable";
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: $white-color;
  margin: $md-size 0;
  @include border-radius($circle-radius-size);
  height: $base-size;
  padding: $sm-size;
  background: $white-color;
  border: 1px solid;
  border-color: $border-color;
  input {
    width: 100%;
    background-color: transparent;
    height: $base-size;
    outline-color: transparent;
    font-family: inherit;
    font-size: $font-size;
    padding: 0 $sm-size;
    text-align: right;
    border: none;
    direction: rtl;
  }
  .input-left {
    flex: 1;
    margin: 0 $md-size;
  }
}
