@import "./variable";
.material-icons {
  vertical-align: middle !important;
}
.is-focused {
  border-color: $primary-color !important;
  box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.2);
  .icon-badge-container {
    background: rgba($primary-color, 0.2);
    color: rgba($primary-color, 0.8);
  }
}
.is-complete {
  border-color: $green-color !important;
  box-shadow: 0 0 0 0.2rem rgba($green-color, 0.2);
  .icon-badge-container {
    background: rgba($green-color, 0.2);
    color: rgba($green-color, 0.8);
  }
}
.is-error {
  border-color: $red-color !important;
  box-shadow: 0 0 0 0.2rem rgba($red-color, 0.2);
  .icon-badge-container {
    background: rgba($red-color, 0.2);
    color: rgba($red-color, 0.8);
  }
}
.bk-primary {
  background-color: $primary-color !important;
  color: $white-color !important;
}
.bk-success {
  background-color: $green-color !important;
  color: $white-color !important;
}
.bk-wrning {
  background-color: $yellow-color !important;
  color: $white-color !important;
}
.bk-danger {
  background-color: $red-color !important;
  color: $white-color !important;
}
.bk-primary-dark {
  background-color: darken($color: $primary-color, $amount: 7%) !important;
  color: $white-color !important;
}
.bk-success-dark {
  background-color: darken($color: $green-color, $amount: 7%) !important;
  color: $white-color !important;
}
.bk-wrning-dark {
  background-color: darken($color: $yellow-color, $amount: 7%) !important;
  color: $white-color !important;
}
.bk-danger-dark {
  background-color: darken($color: $red-color, $amount: 7%) !important;
  color: $white-color !important;
}
.spin {
  animation: spin 0.8s infinite;
}
@include spin();
